$colorpink : #ef7998; 
$colorbalck : #000;
$colorwhite : #fff;
$colorgray : rgb(238, 238, 238);
$marginelement : 10px;
$marginsection :  50px 0 100px 0;
$paddingelement : 10px;

$counterImages : 13;

$fontsize :25px;
$transition : all .1s linear;

$minmobile:768px;
$widhtmobile : 720px;

$minmediumm:992px;
$widhtmedium : 970px;

$minlarge:1200px;
$widhtlarge: 1170px;