.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width : $minmobile) {
        width: $widhtmobile;
    }

    @media (min-width : $minmediumm) {
        width: $widhtmedium;
    }

    @media (min-width : $minlarge) {
        width: $widhtlarge;
    }
}

// start in flex row
.flex-row-center{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;  
    align-items: center;
}

.flex-row-spacearound{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;  
    align-items: center;
}

.flex-row-spacebetween{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;  
    align-items: center;
}
// end in flex row

//start in flex column

.flex-column-center{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;  
    align-items: center;
}

.flex-column-spacearound{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;  
    align-items: center;
}

.flex-column-spacebetween{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;  
    align-items: center;
}
// end in flex coumn