.backToTop{
  position: fixed;
  right: 5%;
  z-index: 5;
  transition: all .5s linear;
  button{
    background-color: $coloryellow;
    outline: none;
    border: 1px solid $colorbalck;
    font-family: "Kaushan Script", cursive;
    margin: $marginelement;
    padding: $paddingelement;
    @include radius;
    color: $colorpink;
    font-weight: 800;
    font-size: $fontsize - 10px;
  }
}

header {
  .img-header {
    background-image:linear-gradient(to top, rgba(249, 228, 148, 0.5), rgba(249, 228, 148, 0.5)),url(../../../images/headerBcg.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    width: 100%;
    height: 100vh;
    .text {
      font-size: $fontsize;
      h1 {
        @include headsection;
      }
    }
  }
}

// start in about
.about {
  .container {
    .content-about {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
      justify-items: center;
      margin: $marginsection;
      @media (max-width: $minmobile) {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
      }
      .text-about {
        @media (max-width: $minmobile) {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        h1 {
          @include headsection;
        }
        p {
          width: 80%;
          font-size: 20px;
          margin: 20px 0 20px 0;
          @media (max-width: $minmobile) {
            text-align: center;
          }
        }
      }
      .img-about {
        position: relative;
        width: 80%;
        @media (max-width: $minmobile) {
          width: 70%;
          height: 80%;
          margin-top: 20px;
        }
        &:hover .box {
          margin-top: 50px;
          left: 0;
        }
        .box {
          position: absolute;
          top: 0;
          left: -20px;
          background-color: transparent;
          outline: 10px solid rgb(255, 230, 131);
          width: 100%;
          height: 100%;
          z-index: -2;
          transition: all 0.4s linear;
        }
        img {
          margin-top: 50px;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
// end in about

// start in store
.store {
  background-color: $colorgray;
  margin: $marginsection;
  position: relative;
  .text-store {
    h1 {
      @include headsection;
    }
  }
  .buttons-choose {
    button {
      margin: $marginelement;
      font-size: 20px;
      border: 1px solid $colorbalck;
    }
  }
  .search {
    form {
      .input {
        span {
          background-color: $colorpink;
          width: 150px;
          height: 50%;
          font-size: 1rem;
          i {
            color: $colorbalck;
          }
        }
        input {
          width: 400px;
          height: 30px;
          border: none;
          @include radius;
          outline: none;
        }
      }
    }
  }
  .box-cake {
    @for $i from 1 to $counterImages {
      .content-#{$i} {
        flex: 0 0 30%;
        max-width: 30%;
        margin: $marginelement + 5px;
        overflow: hidden;
        box-shadow: 2px 4px 21px -9px $colorbalck;
        @media (max-width: $minmobile) {
          flex: 0 0 83.333333%;
          max-width: 83.333333%;
        }
        @for $i from 1 to $counterImages {
          .cake-#{$i} {
            overflow: hidden;
          }
        }
        img {
          margin: 0;
          padding: 0;
          width: 100%;
          height: 100%;
          transition: all 0.3s linear;
          &:hover {
            transform: scale(1.1) rotate(2deg);
          }
        }
        @for $i from 1 to $counterImages {
          .cart-#{$i} {
            margin: 0;
            padding: 0;
            background-color: $colorwhite;
            width: 100%;
            text-align: center;
            overflow: hidden;
          }
        }
      }
    }
  }
  .showImgFullScreen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1111;
    background-color: rgba(255, 32, 92, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    span{
      color: $colorwhite;
      font-size: $fontsize;
      margin: 10px;
      cursor: pointer;
    }
    img{
      width: 30%;
      height: 45%;
      @media (max-width: $minmobile) {
        width: 80%;
        height: 35%;
      }
      @media (max-width: $minmediumm) {
        width: 80%;
        height: 35%;
      }
    }
  }
}
// end in store

// start in contact
.contact{
  .text-contact{
    h1{
      @include headsection;
    }
  }
  .content-contact{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    max-height: 100%;
    @media (max-width: $minmediumm) {
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
    .imgcontact{
      max-width: 100%;
      max-height: 100%;
      img{
        width: 50%;
        max-height: 80%;
        opacity: 0;
        transition: all .2s linear;
      }
    }
    .formcontact{
      max-width: 100%;
      form{
        width: 70%;
        div{
          label{
            margin-bottom: $marginelement;
          }
          input{
            width: 100%;
            height: 30px;
            border: 1px solid $colorbalck;
            @include radius;
            outline: none;
            padding: $paddingelement;
            margin-bottom: $marginelement;
           &::placeholder{
            font-family: "Kaushan Script", cursive;
           } 
          }
        }
      }
      .button{
        margin: $marginelement;
      }
    }
  }
}
// end in contact

// start in footer
footer{
  background-color: $colorpink;
  width: 100%;
  height: 100%;
    .content-footer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    justify-items: center;
    gap: 20px;
    padding: $paddingelement;
    @media (max-width: $minmobile) {
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
      justify-items: baseline;
    }
    // @media (max-width: $minmediumm) {
    //   grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    //   justify-items: baseline;
    // }
    .informtion-footer{
      h1{
        color: $coloryellow;
      }
      p{
        color: $colorgray;
      }
    }
    .list-footer{
      h1{
        color: $coloryellow;
      }
      ul{
        list-style: none;
        li{
          color: $colorgray;
          margin-top: $marginelement + 10px;
          cursor: pointer;
          position: relative;
          &::before{
            content: "";
            position: absolute;
            bottom: -3px;
            left: 0;
            background-color: $colorgray;
            width: 0;
            height: 2px;
            transition: all .2s linear;
          }
          &:hover::before{
            width: 100%;
          }
        }
      }
    }
    .contact-footer{
      h1{
        color: $coloryellow;
      }
      p{
        color: $colorgray;
      }
    }
    .about-footer{
      h1{
        color: $coloryellow;
      }
      p{
        color: $colorgray;
      }
    }
  }
}
// end in footer
